.main-c {
  width: 375px;
  height: 185px;
  text-align: center;
  background-image: url("../assets/nurses.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--uni);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-c h1 {
  font-family: var(--Roboto);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  color: var(--nursery);
}

.main-c p {
  font-family: var(--Roboto);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--nursery);
}

.main-c button {
  width: 114px;
  height: 39px;
  border-radius: 15px;
  padding: 10px;
  color: var(--primary);
  border: none;
  outline: none;
  margin-top: 10px;
  background-color: var(--nursery);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  margin-left: 60px;
}

.main-c button img {
  height: 10px;
}
.blue{
  width: 200px;
  height: 200px;
  background-color: #2F98C2;
  border-radius: 20px;
  box-shadow: 20px 20px #1E3673;
  margin-bottom: 20px;

}

@media (min-width: 420px) {
  .main-c {
    width: 100%;
  }

  .main-c button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media (min-width: 720px) {
  .main-c {
    height: 300px;
  }

  .main-c h1 {
    font-size: 33px;
    margin-bottom: 10px;
  }

  .main-c p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
  }

  .main-c button {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 90px;
  }
}

@media (min-width: 1000px) {
  .main-c {
    height: 526px;
  }

  .main-c h1 {
    font-size: 32px;
    line-height: 43px;
    font-weight: 700;
    margin-bottom: 13px;
  }

  .main-c p {
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 13px;
  }

  .main-c button {
    width: 192px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 10px;
    margin-left: 130px;
  }
}

