.body {
    background-color: var(--uni);
    width: 100%;
  }
  
  .body .up {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
  
  .body .up img {
    width: 151px;
    height: 276px;
    margin-top: 30px;
  }
  
  .explain h6 {
    font-family: var(--primary);
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: var(--primary);
  }
  
  .explain {
    margin-bottom: 35px;
  }
  
  .explain h1 {
    font-family: var(--Roboto);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--primary);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .explain p {
    font-family: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: var(--primary);
    margin-bottom: 10px;
  }
  
  .explain .p-tag {
    width: 122px;
    height: 144px;
  }
  
  .p-tag button {
    width: 89px;
    height: 37px;
    border-radius: 15px;
    background-color: var(--secondary);
    outline: none;
    border: none;
    color: var(--nursery);
    font-family: var(--Roboto);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .second {
    display: none;
  }
  .commited {
    display: none;
  }

  .why {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .why img {
    width: 17.96875px;
    height: 16.40625px;
    margin-bottom: 10px;
  }
  .hospital h1 {
    font-family: var(--Roboto);
    color: var(--primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .why p {
    font-family: var(--Roboto);
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 13px;
  }
  
  .down .hoto {
    display: none;
  }
  
  @media (min-width: 1000px) {
    .down .hoto {
      display: block;
    }
  .parent .hoto img{
     width: 250px;
     height: 320px;
     position: relative;
     bottom: 70px;
  
  }
    .parent {
      display: flex;
      justify-content: center ;
      align-items: center;
      gap: 30px;
      margin-right: 20px;
    }
  
    .why img{
      width: 32.9375px;
      height: 30.8125px;
      position: relative;
      bottom: 5px;
  
    }
  
    .hospital h1{
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 19px;
      
    }
  
    .hospital{
      position: relative;
      bottom: 70px;
    }
    .why p{
      font-size: 18px;
      font-weight: 200;
      /* line-height: 27px; */
      margin-bottom: 20px;
    }
  
    .explain{
      position: relative;
      bottom: 50px;
    }
  
    .second hr{
    position: relative;
    bottom: 10px;
    }
  
    .second {
      display: block;
    }
    .p-tag {
      display: none;
    }
  
    .second p {
      font-family: var(--Roboto);
      font-size: 20px;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
    }
    .truly {
      display: none;
    }
    .commited {
      display: block;
    }
  
    .commited h1 {
      font-family: var(--Roboto);
      color: var(--primary);
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 20px;
    }
  
    .commited h6 {
      font-family: var(--Roboto);
      color: var(--primary);
      font-size: 20px;
      font-weight: 100;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 30px;
    }
  
    .second button {
      width: 130px;
      height: 40px;
      border-radius: 20px;
      color: var(--nursery);
      background-color: var(--secondary);
      border: none;
      outline: none;
      margin-bottom: 30px;
    }
  
    .body .up img {
      width: 300px;
      height: 400px;
    }
  
    .body .up {
      gap: 60px;
      padding-top: 60px;
    }
  }


  @media (min-width: 1440px) {
    .body .up img {
      width: 412px;
      height: 530px;
    }
    .commited h1 {
      font-size: 32px;
      font-weight: 600;
      line-height: 43px;
    }
  
    .commited p {
      font-size: 20px;
      font-weight: 500;
      line-height: 27px;
    }
  
    .second button {
      width: 156px;
      height: 60px;
      margin-top: 20px;
    }
  
    .explain {
      position: relative;
      bottom: 30px;
    }
  
    .body .up {
      gap: 100px;
    }
  
    .parent {
        display: flex;
        justify-content: center ;
        align-items: center;
        gap: 60px;
        margin-right: 20px;
      }

      .parent .hoto img{
        width: 363px;
        height: 481px;
        position: relative;
        bottom: 85px;
     
     }

     .hospital h1{
        font-size: 32px;
        font-weight: 600;
        line-height: 43px;
        margin-bottom: 25px;
     }

     .why p{
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 35px;
      } 

      .why img{
        position: relative;
        bottom: 10px;
      }

.hospital {
    position: relative;
    bottom: 110px;
}
}