.back {
  background-image: url(../assets/contact/background.png);
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 119px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back h1 {
  color: var(--secondary);
  font-family: var(--Roboto);
  font-size: 20px;
  font-weight: 700;
}

.white-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--uni);
}
.box {
  width: 100px;
  height: 60px;
  background-color: var(--nursery);
  border-radius: 10px;
  font-family: var(--Roboto);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000b2;
  padding: 5px;
  position: relative;
  top: 10px;
}

.no-box {
  display: none;
}
.box img {
  width: 16.641508102416992px;
  height: 16.26450538635254px;
}

.map {
  background-image: url(../assets/contact/map.png);
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 251px;
}



@media (min-width: 425px) {
  
}

@media (min-width: 720px) {
  .back {
    height: 210px;
  }
  .back h1 {
    font-size: 26px;
  }
  .no-box {
    display: block;
  }
  .box {
    width: 150px;
    height: 100px;
    padding: 20px;
    margin-top: 20px;
  }
  .box p {
    font-size: 14px;
  }
  .box img {
    width: 18px;
    height: 18px;
  }
  .white-box {
    display: flex;
    justify-content: space-evenly;
  }

  .map {
    height: 100vh;
  }

  
}

@media(min-width: 720px){
  .message h2{
  margin-right:120px ;
  }

  .send-box button{
    display: block;
  margin-left: 90px;
  position: relative;
  bottom: 30px;
  }
}

@media (min-width: 1000px) {

  .back {
    height: 284px;
  }

  .back h1 {
    font-size: 32px;
  }

  .box {
    width: 220px;
    height: 165px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    position: relative;
    top: 20px;
    
  }
  .box p {
    font-size: 18px;
    line-height: 25px;
  }
  .box img {
    width: 45px;
    height: 45px;
    margin-top: 10px;
  }

  .white-box {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
  }

  .map {
    height: 933px;
  }

 
}

@media (min-width: 1440px) {

  
  .white-box {
    padding: 40px;
  }
  .box {
    width: 265px;
    height: 208px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    position: relative;
    top: 60px;
  }
  .box p {
    font-size: 20px;
    line-height: 23.44px;
  }
  .box img {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
  }
  .map {
    height: 933px;
  }

}


.subscribe{
  background-color: var(--nursery);
  width: 100%;
  text-align:center ;
  height: 148px;
}

.latest-news h1{
  font-family: var(--Roboto);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 20px;
  color: var(--primary);
  margin-bottom: 10px;
}

.latest-news p{
  font-family: var(--Roboto);
font-size: 12px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: var(--primary);
margin-bottom: 10px;

}
.subscribe input{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  padding: 10px;
  
}
.subscribe button{
width: 108px;
height: 40px;
border-radius: 10px;
opacity: 0.8999999761581421px;
background-color: var(--primary);
color: var(--nursery);
position: relative;
bottom: 52px;
left: 120px;
outline: none;
border: none;

}

@media (min-width: 720px){

  .subscribe{
    background-color: #F5F5F5;
  }
.subscribe{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 100%;
}
.subscribe p{
 font-size: 12px;
 line-height: 0px;
}
.subscribe h1{
  text-align: start;
 
}

.subscribe input{
  margin-top: 60px;
  padding: 10px;
}

.subscribe button{
  height: 39px;
  margin-right: 40px;
  
 
}
}

@media (min-width: 1000px){
  .subscribe input{
    width: 400px;
    height: 40px;
  }

  .subscribe button{
    height: 40px;
    margin-left: 90px;
    margin-top: 2px;
  }
}



@media (min-width: 1440px){

  .subscribe {
    display: flex;
    justify-content: space-between;
    padding: 60px;
  }
  .subscribe input{
    width: 463px;
    height: 61px;
  }

  .subscribe button{
    width: 175px;
    height: 61px;
    margin-left: 90px;
    position: relative;
    bottom: 72px;
 
  }
}


.form-container{
  width: 90%;
  margin: 2px auto;
  background-color: aqua;
}
.form-container form{
  width: 90%;
  margin: 2px auto;
}
.form-container input{
  display: block;
  margin: 3px auto;
  height: 39px;
  border-radius: 10px;
  padding: 3px;
  border: 1px solid var(--secondary);
  outline: none;
}
.flex-input{
display: flex;
gap: 5px;
}

.flex-input input{
  width:50%;
}

.normal-input{
  width: 100%;
}

form button{
  width: 103px;
height: 39px;
border-radius: 10px;
background: linear-gradient(123.09deg, #2F98C2 -7.49%, #1E3673 78.8%);
display: block;
margin: 0 auto;

}
.form-container h3{
  text-align: center;
}
@media (min-width: 375px){
  .flex-input input{
    width:118px;
  }
  .form-container form{
    width: 248px;
    margin: 2px auto;
  }
}

@media (min-width: 768px){
  .form-container{
    width: 600px;
  }
  .form-container form{
    width: 500px;
  }
  .flex-input{
    gap: 10px;
  }
  .flex-input input{
    width: 50%;
  }
  
}
@media (min-width: 1024px){
  .form-container {
    width: 800px;
  }
  .form-container form{
    width: 600px;
  }
}

@media (min-width: 1440px){
  .form-container {
    width: 1240px;
  }
  .form-container form{
    width: 813px;
  }
}