
  .header{
    width: auto;
    padding: 12px 15px;
   
  }

  
  .gida{
    margin: 0px auto;

    
  }

  .gida li{
    font-family: var(--Roboto);
    font-weight: 700;
    color: var(--primary);
  }


.gida span{
    color: var(--secondary);
    font: var(--Roboto);
    font-weight: 700;
}


  .maballi .daya{
width: 100px;
height: 50px;
line-height: 50%;
border-radius: 10px;
background-color: white;
color: var(--secondary);
font-family: var(--Roboto);
font-size: 20px;
font-weight: 700;
border: none;
outline: none;
margin-bottom: 10px;
    
  }

  .maballi .biyu{
    background: linear-gradient(123.09deg, #2F98C2 -7.49%, #1E3673 78.8%);
    color: var(--nursery);
    outline: none;
    border-radius: 10px;
    border: none;
    width: 110px;
    height: 40px;
border-radius: 15px;
margin-top: 20px;
position: relative;
right: 20px;
  }

 
