.login {
  background-color: var(--uni);
  height: 120vh;
  width: 100%;
  display: flex;
}

.login .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-left: 25px;
}

.left .logo {
  width: 138.6846466064453px;
  height: 36.33610153198242px;
  margin-top: 60px;
}

.left h1 {
  font-family: var(--Roboto);
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--primary);
}
.right {
  display: none;
}

.left p {
  font-family: var(--Roboto);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--primary);
  margin-bottom: 0px;
}

.left p span {
  color: red;
}

.left input {
  width: 325px;
  height: 39px;
  border-radius: 20px;
  border: 2px solid #00000033;
  text-align: center;
}

.left button {
  width: 325px;
  height: 39px;
  border-radius: 20px;
  opacity: 0.8999999761581421px;
  border: none;
  background-color: var(--primary);
  color: var(--nursery);
}

.left .account {
  display: flex;
  gap: 5px;
}

@media (min-width: 425px) {
  .left {
    margin-left: 30px;
  }
}

@media (min-width: 720px) {
  .right {
    display: block;
  }
  .right img {
    width: 230px;
    height: 400px;
    border-radius: 15px;
  }

  .login {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .login .logo {
    height: 50px;
  }
  .left h1 {
    font-size: 22px;
  }
  .left .hoto {
    display: flex;
    gap: 10px;
    height: 33px;
    /* width: 30px; */
  }
  .left input {
    width: 360px;
    height: 45px;
  }
  .right img {
    width: 400px;
    height: 540px;
    border-radius: 25px;
  }

  .login {
    justify-content: center;
    gap: 120px;
  }
}

@media (min-width: 1440px) {
  .right img {
    width: 519px;
    height: 778px;
  }

  .login .left {
    width: 467px;
    height: 645px;
  }

  .left input {
    width: 467px;
    height: 60px;
  }

  .left button {
    width: 467px;
    height: 50px;
  }

  .right .logo {
    width: 241px;
    height: 63px;
  }

  .left .hoto {
    display: flex;
    gap: 10px;
  }
}
